@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular-1.eot") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/GOTHIC.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CenturyGothicBold";
    src: url("../fonts/GOTHICB.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CenturyGothicBoldItalic";
    src: url("../fonts/GOTHICBI.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CenturyGothicItalic";
    src: url("../fonts/GOTHICI.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
  }